
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: #4CAF50;
    color: white;
    text-align: left;
    padding: 10px 0;
}
h1#tit1{
    padding-left: 20px;
}

a {
    color: #4CAF50;
    text-decoration: none;
    padding: 5px;

}


a:hover {
    text-decoration: underline;
}

form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background: white;
}

#formulario{
    float: left;
}

input[type=text] {
    width: 93%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:active {
    box-shadow: 0 0 5px #337636 inset;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
}
